.wrapper {
  background: #91e8ff;
}
.slider {
  display: flex;
  align-items: center;
}
.slider > :not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 500px) {
  .slider > :not(:last-child) {
    margin-right: 1rem;
  }

  .slider button img {
    /* border: 2px solid red; */
    width: 24px;
  }
}
