.page {
  min-height: 100vh;
  background: #a7dfff;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter > :not(:last-child) {
  margin-right: 1.5rem;
}

.count {
  background: #ffaff2;
  border: 4px solid #000000;
  position: relative;
  padding: 0 1rem;
}

.count p {
  position: relative;
  bottom: 0.1em;
}

.mintButton {
  background: #9bffcf;
  border: 4px solid #000000;
  border-radius: 20px;
  padding: 0.6rem 3rem;
}

.kittens {
  max-width: 407px;
  width: 100%;
}

@media (max-width: 760px) {
  .kittens {
    width: 240px;
  }

  .mintButton {
    font-size: 30px;
  }
}
